<h4>Holy Grail Layout</h4>
<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxFlex="25%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">A</div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
    <div fxFlex fxHide.lt-md fxLayoutAlign="center center"
      fxFlexFill class="grid-item">B</div>
    <div fxFlex="75%" fxLayoutAlign="center center"
      fxFlexFill class="grid-item">C</div>
    <div fxFlex fxLayoutAlign="center center"
      fxFlexFill class="grid-item">D</div>
  </div>
  <div fxFlex="25%" class="block-3">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">E</div>
  </div>
</div>
